body {
    margin: 0;
    background-color: rgba(86, 86, 86, 1);
}


.header{
    background-color: rgba(86, 86, 86, 1);
    margin-top: 0%;
text-align: start;
    width: 100%;
    height: 130px;
    
}



.header-img{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 130px;
    
}

.p-header{
    position: absolute;
    margin: 0;
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    top:1%;
    left: 3%;
    
}


.navbar {
    text-align: right;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;        
    background-color: rgba(98, 182, 106, 1);
    padding-right: 80px;
    font-size: 40px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.2);
    
}


.nav-button{
    color: white;
    text-decoration: none;
}

.nav-button-1{
    margin-right: 30px;
}
.nav-button-2{
    margin-right: 30px;
}
.nav-button-3{
    margin-right: 30px;
}
.nav-button-4{
    margin-right: 30px;
}